
.cell {
    width:8vmin;
    height:8vmin;
}

.stat_container {
    width:6vmin;
    height:7vmin;
}

.endColor {
    width: 8vmin;
    height: 8vmin;
    border-radius:2vmin;
}

.settings {
    display: none;
}

.help_blocks {
    max-width: 50%;
  }