.dropbtn {
  color: black;
  font-family: 'Rowdies';
  font-size: 16px;
  border: 1px solid rgb(211, 214, 218);
  cursor: pointer;
  width:130px;
  text-align: left;
  padding:5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .option_button {
  width:100%;
}

.dropdown-content .option {
  width:100%;
}

.option_button, .option {
  color: black;
  font-family: 'Rowdies';
  padding: 12px 16px;
  text-align: left;
  background-color: transparent;
  border:none;
  text-decoration: none;
  display: block;
}

.option_button:hover {
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}

.shape:hover {
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}

.switch {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}


/* Change color of dropdown links on hover */
.dropdown-content input:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.option {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

.option_name {
  width: 100px;
}
.shape {
  width:3vh;
  height:3vh;
  margin:3px;
  background-color:transparent;
  padding: 0;
  background: none;
  border: 1px solid #767676;
}

#circle_option {
  border-radius:30px;
}

#rounded_option {
  border-radius:1vh;
}
