
.cell, .stat_container {
    width:15vmin;
    height:15vmin;
}

#options, .options, .left {
    display: none;
}

#header_middle, #header {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.settings {
    display: block;
}

.help_blocks {
    max-width: 90%;
}